Checks: >
  -*,
  bugprone-*,
  cert-err34-c,
  cert-str34-c,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '^(firmware/main|firmware/components|firmware/test_app)/'
FormatStyle: file
